.notice-wrap {
    margin-top: 16px;
    background-color: white;
    height: 250px;
    padding: 15px;
    border-radius: 8px;

    .title {
        font-size: 18px;
        font-weight: 600;
    }

}