
// color: #005aff;
.userData-wrap {
    margin-top: 16px;
    background-color: white;
    height: 250px;
    padding: 15px;
    border-radius: 8px;

    .title {
        font-size: 18px;
        font-weight: 600;
    }
    ul{
        margin-top: 35px;
        display: flex;
        justify-content: space-around;
        li{
            display: flex;
            justify-content: center;
            flex-wrap:wrap;
            width: 200px;
            .bigNumber{
                font-size: 32px;
                font-weight: 700;
                color:#005aff
            }
            .addNumber{
                text-align: center;
                width: 100%;
                color: #a1a1a1;
                font-size: 16px;
                margin: 10px 0 ;
            }
            .oldNumber{
                display: flex;
                flex-wrap: nowrap;
                color: #a1a1a1;
                font-size: 16px;
                span{
                    margin-left: 3px;
                    color: #005aff;
                    font-weight: 600;
                }
            }
        }
    }

}