.ActionEdit{
    color: #e7e7e7;
    font-size: 12px;
    background-color: #005aff;
    border-radius: 20px;
    padding: 2px 8px;
    cursor: pointer;
}
.ActionDel{
    color: #3e3e3e;
    font-size: 12px;
    background-color: #c9c9c9;;
    border-radius: 20px;
    padding: 2px 8px;
    cursor: pointer;
}
